@use "variables" as *;

// Mixins generales para MEDIYA

// Mixin para aplicar flexbox fácilmente
@mixin flex-center($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;

  & {
    @media (min-width: $breakpoint-tablet) {
      padding: $padding-medium;
    }
  }
}


// Mixin para botones reutilizables
@mixin button-style($bg-color: $primary-color, $text-color: $color-white) {
  background-color: $bg-color;
  color: $text-color;
  font-size: $button-font-size;
  padding: $button-padding;
  border: none;
  cursor: pointer;
  border-radius: $button-radius;
  transition: $button-transition;

  &:hover {
    background-color: $bg-color, 10%;
  }
}

// Mixin para aplicar sombras estándar
@mixin box-shadow {
  box-shadow: $box-shadow;
}

// Mixin para imágenes responsivas
@mixin responsive-img {
  width: 100%;
  height: auto;
  display: block;
}

// Mixin para textos truncados
@mixin text-truncate($lines: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

// Mixin para textos responsivos
@mixin responsive-text($size-mobile, $size-desktop) {
  font-size: $size-mobile;

  @media (min-width: $breakpoint-tablet) {
    font-size: $size-desktop;
  }
}

// Mixin para contenedores responsivos
@mixin container {
  width: $container-width;
  max-width: $container-max-width;
  margin: 0 auto;
  padding: $padding-small;

  @media (min-width: $breakpoint-tablet) {
    padding: $padding-medium;
  }
}
